
.profile-container button {
    cursor: pointer;
    border:  none;
    font-weight: 700;
    color: #bbbbbb;
    background-color: #fff;
    font-size: 14px;
}

.profile-container {
    position: fixed;
    right: 40px;
    top: 48px;
    background-color: #fff;
    width: 305px;
    height: 400px;
    /* outline: 1px solid black; */
    margin:  2px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.profile-info {
    display: flex;
    padding: 10px 0px 10px 20px;

}

.profile-info .photo {
    border-radius: 100%;
    width: 80px;
    height: 80px;
    /* outline: 1px solid#1f1d1d; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
}

.profile-info .photo img {
    width: 100px;
    height: 100px;
    transition: .3s;

}
.profile-info img:hover {
    transform: scale(1.1);
}
.profile-info .detail {
    width: 225px;
    /* outline: 1px solid black; */
    box-sizing: border-box;
    padding: 10px;
}

.detail {

}

.detail .bage {
    background-color: #ccc;
    color: #fff;
    display: inline;
    border-radius: 10px;
    padding: 0 10px;
    font-size: 12px;
}
.detail .username{
    /* outline: 1px solid black; */
    margin-top: 10px;
    line-height: 1em;
}
.detail .username a{
    display: inline-block;
    text-decoration: none;
    color: #3aa5e3;
    font-size: 12px;
    border: 1px solid #3aa5e3;
    padding: 0px 10px;
    border-radius: 5px;
}
.detail .username a:hover {
    background-color: #3aa5e3;
    color: #fff;
}

.editor {
    width: 100%;
    /* margin: 10px; */
    padding: 10px 0;
    /* outline: 1px solid black; */
    border-top: 1px solid #f4f1f1;
    border-bottom: 1px solid #f4f1f1;
}

.editor button{
    width: 100%;
    display: inline-block;
    text-align: start;
    padding: 10px 0 10px 40px;
    /* margin-top: 10px; */
    letter-spacing: 1px;
    transition: color 0.3s ease;
}
.editor button:hover {
    color: #757575;
}
.host-change {
    /* outline: 1px solid black; */
    padding: 10px 0;
    border-bottom: 1px solid #f4f1f1;
}

.host-change button {
    width: 100%;
    text-align: start;
    padding: 10px 0 10px 40px;
    letter-spacing: 1px;
    transition: color 0.3s ease;
}
.host-change button:hover {
    color: #757575;
}

.logout {
    /* outline: 1px solid black; */
    padding: 10px 0;
    color: #7d7b7b;
}
.logout p {
    /* outline: 1px solid black; */
    margin:10px 10px 20px 10px;
    padding: 0 0 0 30px;
}

.logout a {
    display: block;
    /* outline: 1px solid black; */
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #bbbbbb;
    transition: font-size 0.3s ease;
}
.logout a:hover {
    /* background-color: #efeded; */
    font-size: 1.2em;
    color: #7d7b7b;
}